@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");
.homeBlok-right-top > * {
  background-color: #faf0f2;
  padding: 1rem;
  margin-bottom: 1rem;
}

@media (min-width: 500px) {
  .mlayoutHome {
    grid-template-rows: 300px 100px auto auto auto auto;
  }

  #about {
    order: 1;
  }

  #colA {
    order: 3;
  }

  #colB {
    order: 2;
  }

  #colC {
    order: 4;
  }
}
@media (min-width: 1200px) {
  .homeBlok-high {
    grid-column: 3;
    grid-row: 1/3;
  }

  .homeBlok-right-top {
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  #about {
    order: 1;
  }

  #colA {
    order: 3;
  }

  #colB {
    order: 2;
  }

  #colC {
    order: 4;
  }
}
.homeBlok-wide {
  grid-column: 1/3;
  grid-row: 1/3;
  align-content: stretch;
}

.mhomeColHeader {
  box-sizing: border-box;
  padding-top: 4rem;
  padding-bottom: 2rem;
  margin-top: 0;
  margin-bottom: 0;
  border-top: 1px solid #d82443;
  border-bottom: 2px dotted #d82443;
}

.mhomeColHeaderGreen {
  color: #000;
  background-color: #75ae1c;
  border-bottom: 2px dotted #75ae1c;
}

.mlayout {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: [left1] 1fr [gutterL] 3rem [colStart] minmax(200px, 700px) [colEnd] 3rem [gutterR] 1fr [right1];
  grid-template-rows: [top1] 6rem [headerStart] auto [gutter1] 3rem [ContentStart] auto [gutter2] 3rem [bottom1];
}

@media (min-width: 500px) {
  .mlayout {
    width: 100%;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: [left1] 1fr [gutterL] 3rem [colStart] minmax(300px, 700px) [colEnd] 3rem [gutterR] 1fr [right1];
    grid-template-rows: [top1] 6rem [headerStart] auto [gutter1] 3rem [ContentStart] auto [ItemsStart] auto [gutter2] 3rem [footer] 400px [bottom1];
  }
}
@media (min-width: 960px) {
  .mlayout {
    width: calc(100% - 330px);
    margin-left: 330px;
  }
}
.mPageTitle {
  grid-column: colStart/colEnd;
  grid-row: headerStart/gutter1;
  margin: 0;
}

.mPageContent {
  grid-column: colStart/colEnd;
  grid-row: ContentStart/ItemsStart;
}
.mPageContent img {
  width: 100%;
  height: auto;
}

.mPageItems {
  grid-column: colStart/colEnd;
  grid-row: ItemsStart/gutter2;
}

.mlayoutHeight {
  min-height: calc(100vh - 270px);
  height: 100%;
}

.mlayout3col {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
}

@media (min-width: 500px) {
  .mlayout3col {
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    align-content: stretch;
    grid-auto-flow: row;
  }
  .mlayout3col > * {
    place-self: stretch;
    align-self: stretch;
  }
}
@media (min-width: 960px) {
  .mlayout3col {
    width: calc(100% - 330px);
    margin-left: 330px;
  }
}
@media (min-width: 1200px) {
  .mlayout3col {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
  }
}
@media (min-width: 500px) {
  .mFlexConditional {
    display: flex;
    flex-direction: column;
  }

  .mCollHeaderBar {
    grid-column: 1/3;
    grid-row: 1;
  }

  .mDoubleCol {
    grid-column: 1/3;
    grid-row: 2/3;
  }

  .mRightAside {
    grid-column: 1/3;
    grid-row: 4;
  }
}
@media (min-width: 1200px) {
  .mFlexConditional {
    display: grid;
  }

  .mCollHeaderBar {
    grid-column: 1/4;
    grid-row: 1;
    align-content: stretch;
  }

  .mDoubleCol {
    grid-column: 1/3;
    grid-row: 1/4;
  }

  .mCollHeaderBar + .mDoubleCol {
    grid-row: 2/4;
  }

  .mRightAside {
    grid-column: 3/4;
    grid-row: 1/4;
  }

  .mCollHeaderBar + .mDoubleCol + .mRightAside {
    grid-row: 2/4;
  }
}
.mMarginBottom {
  padding-bottom: 3rem;
}

.mList {
  margin: 0;
  padding: 0;
}
.mList li {
  margin: 0;
  list-style: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted #d82443;
}

.mAlignMiddle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.mAlignCenter {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.mAlignTopBottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.mMarginPageTop {
  margin-top: 0;
}

@media (min-width: 960px) {
  .mMarginPageTop {
    margin-top: 3rem;
  }
}
.mMarginBasicBottom {
  margin-bottom: 3rem;
}

a {
  color: #1b4593;
}

.mLineLeft {
  border-right: 1px solid #d82443;
}

.mBorderUnder {
  border-bottom: 1px solid #d82443;
}

.mHomeAboutBox {
  background-color: #d82443;
  color: #fff;
  background-size: cover;
  background-image: url("../images/meertens/home-table-hero.png");
  background-blend-mode: multiply;
  font-size: 25px;
  font-weight: 500;
  line-height: 150%;
}
.mHomeAboutBox h1 {
  font-size: 25px;
  padding: 0 2rem;
  line-height: 130%;
}

.mTextBlock {
  max-width: 700px;
  width: 100%;
  padding-bottom: 6rem;
}
.mTextBlock img {
  height: auto;
  margin: 1rem;
}
.mTextBlock h1 + p > img:first-child {
  max-width: 50%;
  float: right;
}

.mTextSmall {
  font-size: 15px;
}

.mTextGrey {
  color: #666666;
}

.mBgGrey {
  background-color: #f2f2f2;
}

.mfooter {
  width: 100%;
  background-color: #aa1d37;
  color: #fff;
  padding: 3rem 0;
  position: relative;
  z-index: 0;
}
.mfooter a {
  color: #fff;
}

.mfooterLogos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  gap: 2px;
  box-sizing: content-box;
}
.mfooterLogos img {
  width: calc(100% - 60px);
  height: auto;
  background-color: #fff;
  padding: 30px;
}
.mfooterLogos #logoknaw {
  grid-column: 1/4;
  grid-row: 1;
}
.mfooterLogos #logohuc {
  grid-column: 1;
  grid-row: 2;
}
.mfooterLogos #logoclarin {
  grid-column: 2;
  grid-row: 2;
}
.mfooterLogos #logodsa {
  grid-column: 3;
  grid-row: 2;
}

dl dt {
  text-transform: capitalize;
  font-style: italic;
  font-size: 15px;
}
dl dd {
  margin-left: 0;
  margin-bottom: 0.5rem;
  text-transform: capitalize;
}

.mIcon {
  background-color: #aa1d37;
  color: #fff;
  display: inline-flex;
  padding: 0.3rem 0.3rem;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  margin-right: 0.5rem;
}
.mIcon img {
  height: 17px;
  width: auto;
  margin: 0;
}

.mSocials a {
  display: inline-block;
  margin-bottom: 0.5rem;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
  font-style: normal;
  color: #1a1a1a;
}

p, h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

h1 {
  line-height: 110%;
}

.mText--bold {
  font-weight: 500;
}

.mText--L {
  font-size: 19px;
}

.mText--XL {
  font-size: 22px;
}

.mText--XXL {
  font-size: 25px;
}

.mText--XXXL {
  font-size: 30px;
}

.mText--S {
  font-size: 15px;
}

.mText--XS {
  font-size: 13px;
}

.mText--XXS {
  font-size: 11px;
}

.mText--XXXS {
  font-size: 9px;
}

.aside {
  background-color: #fff;
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
}

.asideInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: stretch;
  flex: 1;
}

.mSubTitle {
  display: none;
}

#hamburgerButton {
  position: absolute;
  top: 4rem;
  right: 2rem;
}

@media (min-width: 500px) {
  .aside {
    flex-direction: row;
  }
}
@media (min-width: 960px) {
  .aside {
    position: fixed;
    width: 330px;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    z-index: 100;
  }

  #hamburgerButton {
    display: none;
  }
}
.mBranding img {
  width: 50px;
  height: auto;
}

@media (min-width: 1200px) {
  .mSubTitle {
    display: block;
    line-height: 120%;
  }

  .mBranding img {
    width: 90px;
  }
}
.sub-menu {
  display: none;
}

.mMainNavgation {
  display: none;
  flex-direction: column;
  font-weight: 500;
  font-size: 19px;
}
.mMainNavgation ul, .mMainNavgation li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mMainNavgation .current-menu-item .sub-menu, .mMainNavgation .current-menu-parent .sub-menu {
  display: block;
  padding: 0;
  font-size: 0.8rem;
}
.mMainNavgation .sub-menu li {
  line-height: 120%;
  padding: 0 0 0.5rem 0.4rem;
}
.mMainNavgation li {
  padding: 0.3rem 0;
}
.mMainNavgation a {
  text-decoration: none;
  color: #1a1a1a;
}

@media (min-width: 960px) {
  .mMainNavgation {
    display: flex;
  }
}
.mSubNav {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.mSubNavLayer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mSubNavInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mSubNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  top: 300px;
  right: 0;
  left: 0;
  box-shadow: 5px 5px 8px rgba(69, 69, 69, 0.4);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 960px) {
  .mSubNavLayer {
    left: 330px;
  }

  .mSubNav {
    top: 0;
    bottom: 0;
    width: 330px;
    left: 330px;
  }
}
.mCardHome, .mCard {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-bottom: 2px dotted #d82443;
}

.mCard h2 {
  font-size: 17px;
}
.mCard h2 a {
  color: #1a1a1a;
}

.mCardsVolg {
  display: flex;
  flex-direction: column;
}

@media (min-width: 500px) {
  .mCardsVolg {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
  }
}
.mCardsSimpleThumb {
  display: flex;
  flex-direction: column;
}

.mCards__thumbnailSmall img, .mCards__thumbnailBig img {
  width: 100px;
  height: auto;
}

.mCards__thumbnailBig {
  margin-top: -3rem;
  margin-left: -1rem;
  margin-right: -1rem;
  margin-bottom: 1.5rem;
}
.mCards__thumbnailBig img {
  width: 100%;
  height: auto;
}

@media (min-width: 500px) {
  .mCardsSimpleThumb {
    display: flex;
    flex-direction: row;
    padding-left: 1rem;
  }

  .mCards__thumbnailSmall {
    margin-right: 1rem;
  }
  .mCards__thumbnailSmall img {
    width: 75px;
  }
}
@media (min-width: 960px) {
  .mCard:nth-of-type(2n+0) {
    border-right: 0px;
  }
}
.mNoImg img {
  display: none;
}

.incCard {
  position: relative;
}

.incCard a {
  text-decoration: none;
}

.incCard a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.incCard a:focus {
  text-decoration: underline;
}

.minCard:focus-within a:focus {
  text-decoration: none;
}

.minCard, .incCard .text {
  display: flex;
  flex-direction: column;
}

.incCard .text {
  flex-grow: 1;
}

.incCard .text :last-child {
  margin-top: auto;
}

.ui-tabs-nav {
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}
.ui-tabs-nav li {
  list-style: none;
  padding: 0.5rem 1rem;
  background-color: #f2f2f2;
  margin-left: 1px;
  margin-bottom: 1px;
  border-radius: 3px 3px 0 0;
}
.ui-tabs-nav a {
  text-decoration: none;
}
.ui-tabs-nav .ui-state-active {
  background-color: #aa1d37;
}
.ui-tabs-nav .ui-state-active a {
  color: #fff;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
  background-color: #fff;
}

.screenReaderMenu {
  display: none;
}

.mLoggedin {
  margin-top: 35px;
}

.card01 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px dotted #b3b3b3;
  margin-left: calc(0px - 3rem);
  margin-right: calc(0px - 3rem);
  padding-left: 3rem;
  padding-right: 3rem;
}

.paddingSite {
  padding-left: 3rem;
  padding-right: 3rem;
}

.centerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerBlock p {
  width: 80%;
}

.mButtonClean {
  background-color: none;
  border: 0px;
  padding: 0;
  cursor: pointer;
  text-align: left;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.mSwitchLabel {
  margin-left: 70px;
  margin-top: 5px;
  display: block;
}