@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,500;1,300&display=swap");
.mlayoutHome {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  min-height: 100vh;
}

@media (min-width: 500px) {
  .mlayoutHome {
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    grid-template-rows: 300px auto auto;
    align-content: stretch;
  }
  .mlayoutHome > * {
    place-self: stretch;
  }

  #about {
    order: 1;
  }

  #uitgelicht {
    order: 3;
  }

  #nieuws {
    order: 2;
  }

  #databanken {
    order: 4;
  }
}
@media (min-width: 800px) {
  .mlayoutHome {
    width: calc(100% - 330px);
    margin-left: 330px;
  }
}
@media (min-width: 1200px) {
  .mlayoutHome {
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-template-rows: 400px auto;
  }

  .homeBlok-high {
    grid-column: 3;
    grid-row: 1/3;
  }

  #about {
    order: 1;
  }

  #uitgelicht {
    order: 2;
  }

  #nieuws {
    order: 3;
  }

  #databanken {
    order: 4;
  }
}
.homeBlok-wide {
  grid-column: 1/3;
  grid-row: 1;
  background-color: #f0eb56;
  align-content: stretch;
}

.mlayout {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  min-height: 100vh;
  display: grid;
  justify-content: start;
  align-items: start;
  grid-template-columns: [left1] 1fr [gutterL] 3rem [colStart] minmax(200px, 700px) [colEnd] 3rem [gutterR] 1fr [right1];
  grid-template-rows: [top1] 6rem [headerStart] auto [gutter1] 3rem [ContentStart] auto [gutter2] 3rem [bottom1];
}

@media (min-width: 500px) {
  .mlayout {
    width: 100%;
    display: grid;
    justify-content: start;
    align-items: start;
    grid-template-columns: [left1] 1fr [gutterL] 3rem [colStart] minmax(300px, 700px) [colEnd] 3rem [gutterR] 1fr [right1];
    grid-template-rows: [top1] 6rem [headerStart] auto [gutter1] 3rem [ContentStart] auto [gutter2] 3rem [footer] 400px [bottom1];
  }
}
@media (min-width: 800px) {
  .mlayout {
    width: calc(100% - 330px);
    margin-left: 330px;
  }
}
.mPageTitle {
  grid-column: colStart/colEnd;
  grid-row: headerStart/gutter1;
  margin: 0;
}

.mPageContent {
  grid-column: colStart/colEnd;
  grid-row: ContentStart/gutter2;
}

.mLineLeft {
  border-right: 1px solid #d6112f;
}

.mMarginBottom {
  padding-bottom: 3rem;
}

.mList {
  margin: 0;
  padding: 0;
}
.mList li {
  margin: 0;
  list-style: none;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px dotted #d6112f;
}

.mHomeAboutBox {
  background-color: #d6112f;
  color: #fff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 17px;
  line-height: 150%;
  font-style: normal;
  color: #1a1a1a;
}

p, h1, h2, h3, h4, h5, h6 {
  width: 100%;
}

h1 {
  line-height: 110%;
}

.mText--bold {
  font-weight: 500;
}

.mText--L {
  font-size: 19px;
}

.mText--XL {
  font-size: 22px;
}

.mText--XXL {
  font-size: 25px;
}

.mText--XXXL {
  font-size: 30px;
}

.mText--S {
  font-size: 15px;
}

.mText--XS {
  font-size: 13px;
}

.mText--XXS {
  font-size: 11px;
}

.mText--XXXS {
  font-size: 9px;
}

.aside {
  width: 100%;
  padding-top: 3rem;
  padding-bottom: 3rem;
  box-sizing: border-box;
  overflow-y: scroll;
  display: flex;
}

.asideInner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  align-items: stretch;
  flex: 1;
}

.mSubTitle {
  display: none;
}

@media (min-width: 500px) {
  .aside {
    flex-direction: row;
  }
}
@media (min-width: 800px) {
  .aside {
    position: fixed;
    width: 330px;
    top: 0;
    left: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
  }
}
.mBranding img {
  width: 50px;
  height: auto;
}

@media (min-width: 1200px) {
  .mSubTitle {
    display: block;
  }

  .mBranding img {
    width: 90px;
  }
}
.mMainNavgation {
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 19px;
}
.mMainNavgation ul, .mMainNavgation li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.mMainNavgation ul ul {
  display: none;
}
.mMainNavgation .current-menu-item ul {
  display: block;
  font-size: 0.8rem;
}
.mMainNavgation li {
  padding: 0.3rem 0;
}
.mMainNavgation a {
  text-decoration: none;
  color: #1a1a1a;
}

.mSubNav {
  position: absolute;
  width: 100%;
  background-color: #fff;
  z-index: 100;
}

.mSubNavLayer {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.mSubNavInner {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mSubNav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: fixed;
  box-sizing: border-box;
  top: 300px;
  right: 0;
  left: 0;
  box-shadow: 5px 5px 8px rgba(69, 69, 69, 0.4);
  padding-top: 3rem;
  padding-bottom: 3rem;
}

@media (min-width: 800px) {
  .mSubNavLayer {
    left: 330px;
  }

  .mSubNav {
    top: 0;
    bottom: 0;
    width: 330px;
    left: 330px;
  }
}
.mCardHome {
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 3rem;
  padding-right: 3rem;
  margin-left: calc(0px - 3rem);
  margin-right: calc(0px - 3rem);
  border-bottom: 2px dotted #d6112f;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

.screenReaderMenu {
  display: none;
}

.card01 {
  padding-top: 3rem;
  padding-bottom: 3rem;
  border-bottom: 1px dotted #b3b3b3;
  margin-left: calc(0px - 3rem);
  margin-right: calc(0px - 3rem);
  padding-left: 3rem;
  padding-right: 3rem;
}

.paddingSite {
  padding-left: 3rem;
  padding-right: 3rem;
}

.centerBlock {
  display: flex;
  justify-content: center;
  align-items: center;
}
.centerBlock p {
  width: 80%;
}