<!DOCTYPE html>
<html lang="en">
  <head>
    <title>home Meertens</title>
      <meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/meertens-style.css">
      <link rel="shortcut icon" href="images/meertens/favicon.png">
  </head>
  <body>

  <div class="screenReaderMenu">
    <a href="#main">skip to main content</a>
  </div>


<aside class="aside paddingSite mLineLeft">
  <div class="asideInner">
    <div class="mBranding mMarginBottom">
      <a href="meertens-home.html"><img src="images/meertens/logo_Meertens.png" alt="Logo Meertens Instituut"></a>
      <div class="mSubTitle mText--XS">Onderzoek en documentatie <br> van Nederlandse taal en cultuur</div>



    </div>
    <nav class="mMainNavgation mMarginBottom">

      <ul>
        <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-60 current_page_item menu-item-has-children menu-item-114"><a href="meertens-home.html">Onderzoek</a> <button type="button" name="button" class="mShowSubNav"  aria-label="Open subnavigation">></button>
          <!-- <ul>
            <li class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-505 current_page_item menu-item-510"><a href="">Projecten</a></li>
            <li><a href="">Leerstoelen</a></li>
            <li><a href="">Publicaties</a></li>
            <li><a href="">Doe mee aan onderzoek</a></li>
            <li><a href="">DHLab / NL-Lab / Cultural AI Lab</a></li>
            <li><a href="">Amsterdam Center for European Ethnology / SIEF</a></li>
            <li><a href="">Staat van het Nederlands</a></li>
            <li><a href="">FAQ</a></li>
          </ul> -->
        </li>
        <li><a href="meertens-volg.html">Collecties</a>
          <ul>
            <li><a href="">Item 1</a></li>
            <li><a href="">Item 2</a></li>
            <li><a href="">Item 3</a></li>
          </ul>

        </li>
        <li><a href="">Nieuws en Agenda</a></li>
        <li><a href="">Over het Meertens Instituut</a></li>
        <li><a href="">Contact</a></li>
        <li><button type="button" name="button">Zoeken</button></li>
      </ul>

    </nav>
    <div>NL - ENG</div>

  </div>




</aside>

<div class="mSubNavLayer" id="subnav">
  <div class="mSubNav mLineLeft paddingSite">
    <div><button type="button" name="button" onclick="hideSubnav()">close</button></div>
    <nav class="mMainNavgation mSubNavInner" id="subnavInner"></nav>
    <div></div>
  </div>
</div>


    <main id="main">

      <div class="mlayout3col mlayoutHome">

        <div class="homeBlok-wide centerBlock mLineLeft mHomeAboutBox" id="about">
          <p>The Meertens Institute, established in 1926, has been a research institute of the Royal Netherlands Academy of Arts and Sciences (KNAW) since 1952. We study the diversity in language and culture in the Netherlands.</p>
        </div>

        <div class="mCardsColumn mLineLeft" id="colA">
          <h2 class="mhomeColHeader mhomeColHeaderGreen paddingSite">Uitgelicht</h2>
          <div class="mCardHome">
            <p>These keywords tell the browser to handle the column sizing and element wrapping for us, so that the elements will wrap into rows when the width is not large enough to fit them in without any overflow. The fraction unit we used also ensures that, in case the width allows for a fraction of a column to fit but not a full column, that space will instead be distributed over the column or columns that already fit.</p>
            <p>These keywords tell the browser to handle the column sizing and element wrapping for us, so that the elements will wrap into rows when the width is not large enough to fit them in without any overflow. The fraction unit we used also ensures that, in case the width allows for a fraction of a column to fit but not a full column, that space will instead be distributed over the column or columns that already fit, making sure we aren’t left with any empty space at the end of the row.</p>
          </div>
        </div>

        <div class="mCardsColumn  mLineLeft" id="colB">
          
            <h2 class="mhomeColHeader paddingSite">Nieuws</h2>
              <div class="mCardHome">
              
                <div>
                  25 juni 2021
                </div>
              
                <div>
                  Zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken
                </div>
              
                <div>
                  De zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken. Verhalenonderzoeker Theo Meder van het Meertens Instituut hoopt dat andere landen volgen.
                </div>
              
                <div>
                  <a href="">Lees verder over ISEBEL</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  2 juni 2021
                </div>
              
                <div>
                  Koning spreekt met Meertens Instituut over wetenschap tijdens de coronacrisis
                </div>
              
                <div>
                  Zijne Majesteit de Koning brengt donderdag 3 juni een digitaal werkbezoek aan de Koninklijke Nederlandse Akademie van Wetenschappen waarbij de impact van de coronacrisis op de wetenschap centraal staat.
                </div>
              
                <div>
                  <a href="">Lees verder over het gesprek met de koning</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  15 juni 2021
                </div>
              
                <div>
                  Louis Peter Grijp-lezing 2021 terug te kijken
                </div>
              
                <div>
                  Op 10 mei, toen muziekwetenschapper Ashley Burgoyne de Louis Peter Grijp-lezing 2021 uitsprak, wisten we nog niet wie de winnaar van het Eurovisie Songfestival zou worden.
                </div>
              
                <div>
                  <a href="">Lees verder over de Louis Peter Grijp-lezing 2021</a>
                </div>
              
              </div>
          
            <h2 class="mhomeColHeader paddingSite">Media</h2>
              <div class="mCardHome">
              
                <div>
                  25 juni 2021
                </div>
              
                <div>
                  Zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken
                </div>
              
                <div>
                  De zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken. Verhalenonderzoeker Theo Meder van het Meertens Instituut hoopt dat andere landen volgen.
                </div>
              
                <div>
                  <a href="">Lees verder over ISEBEL</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  2 juni 2021
                </div>
              
                <div>
                  Koning spreekt met Meertens Instituut over wetenschap tijdens de coronacrisis
                </div>
              
                <div>
                  Zijne Majesteit de Koning brengt donderdag 3 juni een digitaal werkbezoek aan de Koninklijke Nederlandse Akademie van Wetenschappen waarbij de impact van de coronacrisis op de wetenschap centraal staat.
                </div>
              
                <div>
                  <a href="">Lees verder over het gesprek met de koning</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  15 juni 2021
                </div>
              
                <div>
                  Louis Peter Grijp-lezing 2021 terug te kijken
                </div>
              
                <div>
                  Op 10 mei, toen muziekwetenschapper Ashley Burgoyne de Louis Peter Grijp-lezing 2021 uitsprak, wisten we nog niet wie de winnaar van het Eurovisie Songfestival zou worden.
                </div>
              
                <div>
                  <a href="">Lees verder over de Louis Peter Grijp-lezing 2021</a>
                </div>
              
              </div>
        </div>

        <div class="mCardsColumn  mLineLeft homeBlok-high" id="colC">
          <div class="homeBlok-right-top paddingSite">
            <div><strong>Onderzoek</strong><br>Bekijk de onderzoeksprojecten van het Meertens Instituut</div>
            <div><strong>Databanken</strong><br>Bekijk de databanekn van het Meertens Instituut</div>
            <div><strong>Publicaties</strong><br>Bekijk de publicaties van het Meertens Instituut</div>
          </div>

          
            <h2 class="mhomeColHeader paddingSite">Agenda</h2>
              <div class="mCardHome">
              
                <div>
                  25 juni 2021
                </div>
              
                <div>
                  Zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken
                </div>
              
                <div>
                  De zoekmachine ISEBEL bevat zo’n 70 duizend sagen afkomstig uit Nederland, Duitsland en Denemarken. Verhalenonderzoeker Theo Meder van het Meertens Instituut hoopt dat andere landen volgen.
                </div>
              
                <div>
                  <a href="">Lees verder over ISEBEL</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  2 juni 2021
                </div>
              
                <div>
                  Koning spreekt met Meertens Instituut over wetenschap tijdens de coronacrisis
                </div>
              
                <div>
                  Zijne Majesteit de Koning brengt donderdag 3 juni een digitaal werkbezoek aan de Koninklijke Nederlandse Akademie van Wetenschappen waarbij de impact van de coronacrisis op de wetenschap centraal staat.
                </div>
              
                <div>
                  <a href="">Lees verder over het gesprek met de koning</a>
                </div>
              
              </div>
              <div class="mCardHome">
              
                <div>
                  15 juni 2021
                </div>
              
                <div>
                  Louis Peter Grijp-lezing 2021 terug te kijken
                </div>
              
                <div>
                  Op 10 mei, toen muziekwetenschapper Ashley Burgoyne de Louis Peter Grijp-lezing 2021 uitsprak, wisten we nog niet wie de winnaar van het Eurovisie Songfestival zou worden.
                </div>
              
                <div>
                  <a href="">Lees verder over de Louis Peter Grijp-lezing 2021</a>
                </div>
              
              </div>
        </div>









      </div>


    </main>

    <script src="js/meertensJS.js"></script>

  </body>
</html>
